{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "ie <= 9"
          ]
        },
        "modules": false,
        "debug": true,
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
    "external-helpers"
  ]
}
